## Test Code
test.py
test.ipynb

## Virtual Environment
.venv/

## Development
.vscode/
__pycache__
.gitmessage.txt
*.pyc
*.pyo
*.pyd
*.swp
*.bak
*.tmp
*.egg-info
dist/
build/
.coverage
htmlcov/
.pytest_cache/

## Secrets
.env
.env.*
!.env.example

## images and files
/replica
*.json
*.yaml
*.png
*.jpg
/cal_exmples
/garage_*
train_trajectory.txt
/Replica
!/images/*

## Coding Assistant
CLAUDE.md