## Test Code
test.py
test.ipynb

## Development
.vscode/
__pycache__
.gitmessage.txt
*.pyc
*.pyo
*.pyd
*.swp
*.bak
*.tmp
*.egg-info
dist/
build/

## images and files
/replica
*.json
*.yaml
*.png
/garage_*
train_trajectory.txt
/Replica
!/images/*